body {
    padding: 0;
    margin: 0;
    background-color: rgb(10, 10, 10);
    
    

}

 h1{
    font-family: 'VT323', monospace;
    font-family: 'Press Start 2P', cursive;

    
 }

header {
    display: flexbox;
    width: 100%;
    padding: 0;
    margin: 0 0 20px;
    background-color: rgb(12, 12, 12);

}
header h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: 'VT323', monospace;
    padding: 0 0 10px;
    margin: 0 0 5px;
    color: rgb(9, 255, 0);

}

#saida {
    padding: 0 0 20px;
    margin: 0 0 10px;
    text-align: center;
    border-radius: 5%;
    display: block;
}

.txt-area {
    margin: 0px;
    padding: 0px;
    text-align: center;
    display: block;
    
}

.txt-area textarea {
    padding: 5%;
    margin: 0;
    border-radius: 5%;
    border-style: inset;
    border-color: rgb(9, 255, 0) ;
    

}


textarea {
    font-size: 15px;
}
.botoes {
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.botoes button {
    padding: 15px;
    margin: 10px;
    font-size: 20px;
    background-color: rgb(9, 255, 0);
    border: none;
    border-radius: 5%;
}

button:hover {
    background-color: rgb(10, 116, 19);
    color:aliceblue;
    
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    
}

footer p {
    text-align: center;
    font-size: 15px;
    color: rgb(9, 255, 0);

}